<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="row pt-5">
                <div class="col-lg-8">
                    <p class="h2">Iniciar Sesión</p>
                </div>
            </div>    
            <div class="card-body">
                <div class="form-group">
                    <label for="email">Usuario</label>
                    <input type="text" [(ngModel)]="username" class="form-control"/>
                    
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" [(ngModel)]="password" class="form-control"/>
                </div>
            </div>
            <div class="row px-2 px-4">
                <button class="btn btn-danger" (click)="login()">
                    Iniciar sesión
                </button>
            </div>
            <div class="row pt-2">
                <div class="col-lg-12 text-center">
                    <p class="text-danger">{{message}}</p>
                </div>
            </div>
           
        </div>
    </div>    
    <div class="row pt-5">
        <div class="col-lg-8">
            <div class="card bg-warning">
                <div class="card-body">
                    Consideraciones: el usuario y password esta seteado por defecto en el backend, no podrá iniciar sesión con cualquier otro usuario y contraseña
                </div>
                </div>
        </div>
    </div>
        
</div>