<div class="container-fluid">
    <div class="row pt-2">
        <div class="col-8">
            <span class="text-end"><a class="nav-link" [routerLink]="['../operation']">Ir a Tipo de cambio </a></span>
        </div>
    </div> 
    <div class="row pt-2">
        <div class="col-8">
            <p class="h2">Actualizar Tipo de cambio</p>
        </div>
    </div> 
    <div class="row pt-3">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                    <label for="" class="form-label">Moneda origen</label>
                    <select class="form-control" 
                    name="currencyOrigin" 
                    id="currencyOrigin"
                    (change)="onChange(item.value)" #item>
                        <option [value]="0">seleccione una opción</option>
                        <option [value]="item.currencyId" *ngFor="let item of exchange">{{item?.currencyCode}}
                        </option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                    <label for="" class="form-label">Actual</label>
                    <input disabled type="text" [(ngModel)]="exchangeRate" class="form-control" name="amount" id="amount" aria-describedby="helpId" placeholder="ingrese monto">
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                    <label for="" class="form-label">Nuevo</label>
                    <input  type="text" [(ngModel)]="exchangeRateNew" class="form-control" name="amount" id="amount" aria-describedby="helpId" placeholder="ingrese monto">
                    </div>
                </div>
            </div>
            <div class="row px-2">
                <button type="button" (click)="updateExchangeRate()" 
                class="btn btn-dark"
                [disabled] = "enabledSend"
                >Actualizar Tipo de Cambio</button>
            </div>
            <div class="row">
            <div class="col-12 text-center">{{status}}</div> 
            </div>  
     
        </div>    
    </div>
</div>
