
<div class="container-fluid">
    <div class="row pt-2">
        <div class="col-8">
            <span class="text-end"><a class="nav-link" [routerLink]="['../exchange-rate']">Actualizar Tipo de cambio </a></span>
        </div>
    </div> 
    <div class="row pt-2">
        <div class="col-8">
            <p class="h2">Tipo de cambio</p>
        </div>
    </div> 
    <div class="row pt-3">
        <div class="col-8">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                        <label for="" class="form-label">Moneda origen</label>
                        <select class="form-control" 
                        name="currencyOrigin"
                        id="currencyOrigin"
                        (change)="onChangeOrigin(item.value)" #item>
                            <option [value]="0">seleccione una opción</option>
                            <option [value]="item.id" *ngFor="let item of currency">{{item?.currencyCode}}</option>
                        </select>
                        </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="mb-3">
                        <label for="" class="form-label">Moneda destino</label>
                        <select class="form-control" 
                        name="currencyDestination"
                        id="currencyDestination"
                        (change)="onChangeDestination(item2.value)" #item2>
                            <option [value]="0">seleccione una opción</option>
                            <option [value]="item2.id" *ngFor="let item2 of currency">{{item2?.currencyCode}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                        <label for="" class="form-label">Monto</label>
                        <input type="number" 
                        [(ngModel)]="amount"
                        class="form-control"
                        name="amount"
                        id="amount" 
                        placeholder="ingrese monto">
                        </div>
                    </div>
                </div>
                <div class="row px-2">
                    <button type="button" (click)="operationExchangeRate()" 
                    class="btn btn-primary">Realizar Tipo de Cambio</button>
                </div>
                
        </div>
       
    </div>
    <div class="row pt-3" *ngIf="operationDetail?.amount">
        <div class="row">
            <div class="col-lg-8">
                <h4>Detalle de la operación</h4>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-5">
                    <p>Moneda de origen:</p>
                </div>
                <div class="col-lg-3">
                    <p>{{operationDetail.originCurrencyDescription}}</p>
                </div>
            </div>
            <div class="row">   
                <div class="col-lg-5">
                    <p>Moneda de destino:</p>
                </div>
                <div class="col-lg-3">
                    <p>{{operationDetail.destinationCurrencyDescription}}</p>
                </div>
            </div> 
            <div class="row">   
                <div class="col-lg-5">
                    <p>Monto:</p>
                </div>
                <div class="col-lg-3">
                    <p>{{operationDetail.amount}}</p>
                </div>
            </div>
            <div class="row"> 
                <div class="col-lg-5">
                    <p>Tipo de cambio:</p>
                </div>
                <div class="col-lg-3">
                    <p>{{operationDetail.exchangeRate}}</p>
                </div>
            </div> 
            
          </div>  
          <div class="col-lg-3">
            <div class="row">  
                <div class="col-lg-5">
                    <h4>Total</h4>
                </div>
                <div class="col-lg-3">
                    <p>{{operationDetail.amountWithExchangeRate}}</p>
                </div>
            </div>
          </div>
    </div>  
</div>

