<div class="container">
  <div class="row">
    <div class="col-8">
      <h1>RetoBcp</h1>
 
      <nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="currentUser">
        <div class="collapse navbar-collapse" id="navbarText">
          <span class="navbar-text">
            <a [routerLink]="['']" class="nav-Item nav-link">Home</a>
          </span> 
          <span class="navbar-text">
            <a [routerLink]="['operation']" class="nav-Item nav-link">Tipo de cambio</a>
          </span>  
          <span class="navbar-text">
            <a [routerLink]="['login']" class="nav-item nav-link">Iniciar sesión</a>
          </span> 
          <span class="navbar-text">
            <a href="#" class="nav-item nav-link" (click)="logout()">Cerrar sesión</a>
          </span>  
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>  
</div>